

{% block content %}

<style>
    .roles{
        background-color: #0056B3;
    }
    .roles-list{
        background-color: white;
    }
    .listofjobs{
        color: white;
        text-align: center;
    }
    .roleslink{
        color: #FFC107;
        text-decoration: none;
    }
    .role-name{
        color: #0056B3;
    }
    
</style>


<div class="card shadow roles" style="width: 18rem;">
    <div class="card-header">
        <h5 class="listofjobs">List of jobs</h5>
    </div>
    <ul class="list-group list-group-flush ">
      <li class="list-group-item roles-list">All <a class="roleslink" href="{% url 'home' %}">Total Jobs Available: {{ jobs.count }}</a></li>
      {% for role in roles %}
      <li class="list-group-item roles-list"><strong class="role-name">{{role.name}}</strong><a class="roleslink" href="{% url 'home'%}?q={{role.name}}"><p>Jobs Available: {{role.jobs_set.all.count}}</p></a></li>
      {% endfor %}
    </ul>
  </div>

<!-- <div>
    <h1>List of jobs are</h1>
    
        <h3><a href="{% url 'home' %}">All</a></h3>
    
    {% for role in roles %}
    <div>
        <h3><a href="{% url 'home'%}?q={{role.name}}"> {{role.name}}</a><span>{{role.jobs_set.all.count}}</span></h3>      
    </div>
    {% endfor %}
</div> -->

{% endblock %}
