

{% block content %}

<style>
    .roles {
    background-color: #0056B3;
    /* max-width: 90%; */
    
    border: 1.5px solid #FFC107;
    box-shadow: 0 10px 15px rgba(36, 95, 221, 0.5);
}

.roles-list {
    background-color: white;
}

.listofjobs {
    color: white;
    text-align: center;
}

.roleslink {
    color: #FFC107;
    text-decoration: none;
}

.role-name {
    color: #0056B3;
} 

</style>


<div class="card  roles" style="width: 18rem;">
    <div class="card-header">
        <h5 class="listofjobs">List of jobs</h5>
    </div>
    <ul class="list-group list-group-flush ">
      <li class="list-group-item roles-list">All <a class="roleslink" href="{% url 'home' %}">Total Jobs Available: {{ jobs.count }}</a></li>
      {% for role in roles %}
      <li class="list-group-item roles-list"><strong class="role-name">{{role.name}}</strong><a class="roleslink" href="{% url 'home'%}?q={{role.name}}"><p>Jobs Available: {{role.jobs_set.all.count}}</p></a></li>
      {% endfor %}
    </ul>
  </div>



{% endblock %}
