{% extends 'main.html' %}
{% block title %}
Update
{% endblock %}

{% block content %}
<style>
  .label{
    color: #0056B3;
  }
  .update_form{
    border: 1.5px solid #FFC107;
    box-shadow: 0 10px 20px rgba(36, 95, 221, 0.5);
    border-radius: 5px;
  }
  

</style>
<div class="mt-2 col-md-5 mx-auto p-3  update_form">
    
    <form method="POST" enctype="multipart/form-data" class="mx-auto">
        {% csrf_token %}
        <h1 class="text-center mb-4 label">Update Profile</h1>
        
        {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label label">{{ field.label }}</label>
            {% if field.field.widget.input_type == 'textarea' %}
            <textarea name="{{ field.name }}" class="form-control custom-textarea" id="{{ field.id_for_label }}">{{ field.value }}</textarea>
            {% else %}
            <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control custom-input" id="{{ field.id_for_label }}" {% if field.field.required %}required{% endif %} value="{{ field.value }}">
            {% endif %}
           
        </div>
        {% endfor %}
        
        <a href=""><button type="submit"  class="btn btn-primary mt-3">Submit</button></a>
    </form>

</div>




<!-- <div class="col-md-5 mx-auto p-3 shadow ">
    
<form method="POST" enctype="multipart/form-data" class=" mx-auto">
   
    {% csrf_token %}
    <h1 class="mx-auto">Update Profile</h1>
    {% for field in form %}

    <div class="mb-3 pt-3">     
      <label for="exampleInputEmail1" class="form-label">{{field.label}}</label>
      {{field}}
     
      
    {% endfor %}
   
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>

</div> -->

{% endblock %}