<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .profile-image {
            border-radius: 50%; /* Makes the image round */
            width: 35%; /* Adjust the width and height as needed */
            height: 3rem;
            object-fit: cover; /* Ensures the image covers the entire circle */
        }
        .head{
            background-color: #41C9E2;
        }
      </style>

    <title>Document</title>
</head>
<body>




    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary head">
            <div class="container-fluid head">
                <!-- Move brand name to the right -->
                <div class="d-flex head">
                    <!-- Move brand name to the right -->

                    <img src="{% static 'images/logo.svg' %}"  class="img-fluid" alt="Bootstrap" width="30" height="24">
                </div>
               
                <!-- Add a wrapper div for the navbar-toggler and navbar-collapse -->
                <div class="d-flex head">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Add a wrapper div for the navbar-nav -->
                    <div class="collapse navbar-collapse head" id="navbarNavAltMarkup">
                        <div class="navbar-nav mx-auto head"> <!-- Use mx-auto to center items -->
                            <a class="nav-link" aria-current="page" href="{% url 'ehome' %}">Home</a>
                            <a class="nav-link" href="{% url 'e_search_employee' %}">Search Candidates</a>
                            <a class="nav-link" href="{% url 'eabout' %}">About Us</a>

                            <a class="nav-link" href="{% url 'econtact' %}">Contact Us</a>
                            <a class="nav-link" href="{% url 'message' %}">Message</a>
                            
                            
                        </div>
                    </div>
                </div>
                <!-- Move buttons to the left -->
                {% if request.user.is_authenticated %}
                <div class="ms-auto">
                    <a href="{% url 'loginPage' %}" class="btn btn-primary">Logout</a>
                    <a href="{% url 'eprofile' %}"><img  src="{{ request.user.avatar.url }}" alt="Profile Image" class="profile-image ms-1"></a>
               
                </div>

                {% else %}
                <div class="ms-auto">
                    <a href="{% url 'loginPage' %}" class="btn btn-primary">Login</a>
                    <a href="{% url 'loginPage' %}"><img src="/static/images/avatar.svg" alt="Profile Image" class="profile-image">
                    </a>
                </div>

                {% endif %}
            </div>
           
        </nav>
    </div>

</body>
</html>