
{% load static %}

{% block content %}



<style>
 .jobs-single{
    background-color:white;
   
    max-width:90%; 
    border: 1.5px solid #FFC107;
    box-shadow: 0 10px 10px rgba(36, 95, 221, 0.5);
   
  }
 
  .info{
    background-color: white;
    color: #343A40;
   
   
  }
  .list-group-item {
    color: #343A40;
  }
  .card-body .list-group-item a {
    color: #0056B3; /* Dark Blue */
    text-decoration: none;
  }

  .card-body .list-group-item a:hover {
    color: #FFC107; /* Yellow */
    text-decoration: underline;
  }
  </style>

 

  {% for user in users %}
  
  
  <div class="card mt-3 mb-3 p-4  jobs-single" style="max-width:90%">
      <div class="row">
        <div class="col-md-4 info">
          <img src="{{user.avatar.url}}" class="img-fluid rounded-start info" alt="OOPS">
        </div>
        <div class="col-md-8">
          <div class="card-body info">
            
            <ul class="list-group list-group-flush info">
              <li class="list-group-item info"><a href="{% url 'candidate_description' user.id %}"><h5>{{user.name}}</h5></a></li>
              <li class="list-group-item info"><strong>Education </strong>{{user.education}}</li>
              <li class="list-group-item info"><strong>Location: </strong>{{user.location}}</li>
              <li class="list-group-item info"><strong>Skills </strong>{{user.skills}}</li>
              <li class="list-group-item info"><strong>Experience </strong>{{user.experience}}</li>
           
              
            </ul>
            <!-- <p class="card-text">{{job.job_type}}</p> -->
            <!-- <p class="card-text"><small class="text-body-secondary">{{job.created | timesince }}  ago</small></p> -->
          </div>
        </div>
      </div>
    </div>
  
    {% endfor %}


{% endblock %}