{% extends 'emain.html' %}
{% block title %}
About
{% endblock %}

{% load static %}
{% block content %}
<style>
    @keyframes flashAndZoom {
    0% {
        color: #0056B3; /* Initial color */
        transform: scale(1); /* Initial size */
    }
    50% {
        color: #FFC107; /* Midway color */
        transform: scale(1.5); /* Zoomed in size */
    }
    100% {
        color: #0056B3; /* Final color */
        transform: scale(1); /* Back to initial size */
    }
}

.flashing-header {
    animation: flashAndZoom 1s infinite; /* Animation lasting 1 second, repeating infinitely */
    display: inline-block; /* To ensure transform works correctly */
}
.latest_jobs{
    text-align: center;

}
</style>

<div class="col-md-4 me-2 ">
<img  style="width: 100%;" class="img-fluid" src="{% static 'images/about_image.png' %}" alt="">
</div>
<div class="col-md-7 mt-5">
    <div class="latest_jobs">
        <h2  style="text-align: center;" class="mt-1 mx-auto flashing-header">About Us</h2>

    </div>
   
    <p class="mt-5"><strong>Welcome to Talent Trove</strong>, where we connect job seekers with employers. Our mission is to make the job search process easier and more efficient for everyone involved.</p>
    <p class="mt-5">At Talent Trove, we believe in the power of technology to streamline the hiring process. Our platform utilizes advanced algorithms to match candidates with the most suitable job opportunities based on their skills, experience, and preferences.</p>
    <p class="mt-5">Whether you're a recent graduate looking for your first job, an experienced professional seeking new challenges, or an employer looking for top talent, Talent Trove has something for you. Join our community today and take the next step in your career!</p>
    <p class="mt-5">We are committed to fostering an inclusive and diverse workplace, where every individual's talents are valued and respected. Join us in building the future of work!</p>
</div>




{% endblock %}