{% extends 'emain.html' %}

{% block title %}
Profile
{% endblock %}


{% block content %}
<style>
  .roles{
        background-color: #0056B3;
        color: white;
    }
    .roles-list{
      background-color: white;
    }
    .main{
        background-color: white;
    }
    .applied_in_company{
        color: white;
        
    }
    @keyframes flashAndZoom {
    0% {
        color: #0056B3; /* Initial color */
        transform: scale(1); /* Initial size */
    }
    50% {
        color: #FFC107; /* Midway color */
        transform: scale(1.5); /* Zoomed in size */
    }
    100% {
        color: #0056B3; /* Final color */
        transform: scale(1); /* Back to initial size */
    }
}

.flashing-header {
    animation: flashAndZoom 1s infinite; /* Animation lasting 1 second, repeating infinitely */
    display: inline-block; /* To ensure transform works correctly */
}
.latest_jobs{
    text-align: center;

}
.profile_img{
    border-radius: 5px;
}
.profile_info {
    border: 2px solid #FFC107;
    box-shadow: 0 10px 10px rgba(36, 95, 221, 0.5);
    width: 90%;/* Adjust this value as needed */
    margin: 0 auto; /* Center the element if desired */
    
}
.application_view_button{
  color: white;
  width: 53%;
    font-size: 14px;
    margin-bottom: 5px;

}
</style>


<div class="latest_jobs">
  <h1 class="mt-4 mb-4 flashing-header">This is profile</h1>
  </div>
<div class="col-md-3 ">

  
 
  <div class="card profile_info" style="width: 18rem;">
    <div class="card-header roles">
        <h1>List of applications received</h1>
    </div>
    <ul class="list-group list-group-flush">
        
      {% if job_appilcations %}
     
        {% for job_appilcation in job_appilcations %}

<form  action="" method="POST">
  {% csrf_token %}
  <input type="hidden" name="user_id"  value="{{job_appilcation.users.id}}">
  <li class="list-group-item roles-list"> <p>{{ forloop.counter }}: Name: <strong>{{job_appilcation.users.name}}</strong></p>
    <p>Role:  <strong>{{job_appilcation.users.skills}}</strong></p>
      
    <p>Applied On: <strong> {{job_appilcation.appplied_at}}
    </strong></p>
    <button class="application_view_button btn btn-primary" type="submit">View Application</button>
                  
</li>
</form>
      
       
    
    
    {% endfor %}
    {% else %}
    <li class="list-group-item roles-list">No Received any applications</li>

    {% endif %}

   
   


     
    </ul>
  </div>
    
</div>



<div class="col-md-6">


  <div class=" card border-opacity-10 main profile_info" >
      <img src="{{request.user.avatar.url}}" class="mt-2 img-fluid card-img-top mx-auto rounded-lg profile_img" style="width: 50%;" alt="">
      <div class="card-body mx-auto mt-1 main">
        <p class="card-text mt-2 main"><strong>Name:</strong> {{request.user.name}}</p>
        <p class="card-text mt-2 main"> <strong>Email:</strong> {{request.user.email}}</p>
        <p class="card-text mt-2 main"> <strong>Phone:</strong> {{request.user.phone}}</p>
        <p class="card-text mt-2 main"> <strong>Bio:</strong> {{request.user.bio}}</p>
       

        <!-- <p class="card-text mt-2 main"> <strong>Skills:</strong> {{request.user.skills}}</p>
        <p class="card-text mt-2 main"><strong>Bio:</strong> {{request.user.bio}}</p>
        {% if request.user.cv %}
        <p class="card-text main"><strong>Resume:</strong>  <a href="{{request.user.cv.url}}">Download Now</a></p>
        {% else %}
        <p class="card-text main"><strong>Resume:</strong> Not uploaded yet</p>
        {% endif %} -->
        <p class="card-text main"> <a href="{% url 'eupdate' request.user.id %}" class="btn btn-primary">Update Profile</a></p>
      </div>
    </div>

</div>


{% endblock %}